@import url('https://fonts.googleapis.com/css?family=Tenor+Sans');

* {
	font-family: "Myanmar MN", "Tenor Sans", sans-serif;
	color: #000;
}

#content {
	margin-top: 180px;
}

/** BODY STYLES FOR ALL PAGES **/

body {
	opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

#about_body {
	background-image: url("aboutbackground.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#contact_body {
	background-image: url("contactbackground.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#homepage {
	width: 101%;
	height: 101vh;
	margin: -10px;
	overflow: hidden;
}

#fullpage {
	width:100%;
}

/** FADE EFFECTS **/
.animate-in {
  animation: fadein 1.0s ease forwards;
}
.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*** HOME PAGE MENU ***/

#menu-toggler {
	position: fixed;
	display: block;
	top: 10px;
	bottom: auto;
	right: 60px;
	left: auto;
	width: 40px;
	height: 40px;
	z-index: 2;
	opacity: 0;
	cursor: pointer;
}
#menu-toggler:hover + label, #menu-toggler:hover + label:before, #menu-toggler:hover + label:after {
	background: #000;
}

#menu-toggler:checked + label {
	background: transparent;
}
#menu-toggler:checked + label:before, #menu-toggler:checked + label:after {
	top: 0;
	width: 40px;
	-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
}
#menu-toggler:checked + label:before {
	-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
}
#menu-toggler:checked + label:after {
	-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
}

#menu-toggler:checked ~ ul #menu-item {
	opacity: 1;
}
#menu-toggler:checked ~ ul #menu-item:nth-child(1) {
	-webkit-transform: rotate(245deg) translateX(-110px);
		transform: rotate(245deg) translateX(-110px);
}
#menu-toggler:checked ~ ul #menu-item:nth-child(2) {
	-webkit-transform: rotate(285deg) translateX(-110px);
		transform: rotate(285deg) translateX(-110px);
}
#menu-toggler:checked ~ ul #menu-item:nth-child(3) {
	-webkit-transform: rotate(325deg) translateX(-110px);
		transform: rotate(325deg) translateX(-110px);
}
#menu-toggler:checked ~ ul #menu-item:nth-child(4) {
	-webkit-transform: rotate(365deg) translateX(-110px);
		transform: rotate(365deg) translateX(-110px);
}
#menu-toggler:checked ~ ul #menu-item a {
	pointer-events: auto;
}

#menu-toggler + label {
	width: 40px;
	height: 5px;
	display: block;
	z-index: 1;
	border-radius: 2.5px;
	background: rgba(62, 54, 139, 0.7);
	-webkit-transition: top 0.5s, -webkit-transform 0.5s;
	transition: top 0.5s, -webkit-transform 0.5s;
	transition: transform 0.5s, top 0.5s;
	transition: transform 0.5s, top 0.5s, -webkit-transform 0.5s;
	position: absolute;
	display: block;
	top: 45px;
	bottom: auto;
	right: 75px;
	left: auto;
	margin: auto;
}
#menu-toggler + label:before, #menu-toggler + label:after {
	width: 40px;
	height: 5px;
	display: block;
	z-index: 1;
	border-radius: 2.5px;
	background: rgba(62, 54, 139, 0.7);
	-webkit-transition: top 0.5s, -webkit-transform 0.5s;
	transition: top 0.5s, -webkit-transform 0.5s;
	transition: transform 0.5s, top 0.5s;
	transition: transform 0.5s, top 0.5s, -webkit-transform 0.5s;
	content: "";
	position: absolute;
	left: 0;
}
#menu-toggler + label:before {
	top: 10px;
}
#menu-toggler + label:after {
	top: -10px;
}

#menu-item:nth-child(1) a {
	-webkit-transform: rotate(-245deg);
		transform: rotate(-245deg);
	font-size: 0px;
	background-image: url("contact.png");
	background-repeat: no-repeat;
	background-position: center;
}

#menu-item:nth-child(2) a {
	-webkit-transform: rotate(-283deg);
		transform: rotate(-283deg);
	font-size: 0px;
	background-image: url("portfolio.png");
	background-repeat: no-repeat;
	background-position: center;
}

#menu-item:nth-child(3) a {
	-webkit-transform: rotate(-323deg);
		transform: rotate(-323deg);
	font-size: 0px;
	background-image: url("about.png");
	background-repeat: no-repeat;
	background-position: center;
}

#menu-item:nth-child(4) a {
	-webkit-transform: rotate(-365deg);
		transform: rotate(-365deg);
	font-size: 0px;
	background-image: url("linkedin.png");
	background-repeat: no-repeat;
	background-position: center;
}

#menu-item {
	position: absolute;
	display: block;
	top: 10px;
	bottom: auto;
	right: 60px;
	left: auto;
	margin: auto;
	width: 80px;
	height: 80px;
	display: block;
	opacity: 0;
	-webkit-transition: 0.5s;
		transition: 0.5s;
}

#menu-item a {
	display: block;
	width: inherit;
	height: inherit;
	line-height: 80px;
	color: rgba(0, 0, 0, 0.7);
	background: rgba(62, 54, 139, 0.2);
	border-radius: 50%;
	text-align: center;
	text-decoration: none;
	font-size: 40px;
	pointer-events: none;
	-webkit-transition: 0.2s;
		transition: 0.2s;
}
#menu-item a:hover {
	box-shadow: 0 0 0 2px rgba(62, 54, 139, 0.3);
	color: #000;
	background: rgba(62, 54, 139, 0.3);
	font-size: 20px;
}

/*** HORIZONTAL MENU ***/
#horizontal-menu {
	width: 100%;
	position: fixed;
	margin-left: -10px;
	margin-right: -10px;
	z-index: 10;
	height: 170px;
	margin-top: -190px;
	margin-bottom: auto;
	background-color: #000;
	box-shadow: 0px 5px 5px gray;
}

#horizontal-menu table {
	margin: 0 auto;
}

#horizontal-menu .link {
	width: 16%;
	text-align: center;
	padding: 0 20px;
}

#horizontal-menu .logo {
	width: 34%;
	text-align: center;
}

#horizontal-menu a {
	text-decoration: none;
	color: #d6e2ff;
	font-size: 20px;
	font-style: normal;
}

#horizontal-menu a:hover {
	text-decoration: none;
	color: #FFF;
}

#horizontal-menu .active {
	text-decoration: underline;
}

#logo {
	height: 21%;
	margin: 25px;
}

/** ABOUT **/

#about_info {
	margin-left: 15%;
	margin-top: -25%;
	text-align: justify;
	width: 31%;
}

#about_portrait {
	margin-top: 7%;
	margin-left: 53%;
	height: 300px;
	width: auto;
	border-radius: 12px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	box-sizing: border-box;
}

/** ABOUT CATEGORIES **/
#about_categories {
    padding: 0px;
    margin: -28% 35% 10px auto;
}

#educ, 
#design,
#code,
#passions,
#collab,
#off_the_clock {
	font-size: 50px;
	white-space: nowrap;
	display: block;
	text-transform: uppercase;
	text-align: right;
	text-decoration: none;
	letter-spacing: 1px;
	cursor: default;
	-moz-transform: scale(0.5); 
	-ms-transform: scale(0.5); 
	-o-transform: scale(0.5); 
	-webkit-transform: scale(0.5); 
	transform: scale(0.5); 
	-webkit-transition: all 0.6s linear;
	-moz-transition: all 0.6s linear;
	-o-transition: all 0.6s linear;
	-ms-transition: all 0.6s linear;
	transition: all 0.6s linear;
}

#about_categories div:hover {
	margin-right: 25%;
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	-webkit-transform: scale(1); 
	transform: scale(1); 
}

#educ1, 
#design1,
#code1,
#passions1,
#collab1,
#off_the_clock1,
#education_text,
#design_text,
#code_text,
#passions_text,
#collab_text,
#off_the_clock_text {
	display: none;
}

#educ:hover ~ #education_text,
#design:hover ~ #design_text,
#code:hover ~ #code_text,
#passions:hover ~ #passions_text,
#collab:hover ~ #collab_text,
#off_the_clock:hover ~ #off_the_clock_text {
	text-align: center;
	display: block;
	width: 45%;
	display: block;
	margin-top: -37%;
	-webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}

/** CONTACT **/
#contact_info {
	margin-top: -15%;
	margin-left: 55%;
	font-size: 20px;
}

#contact_portrait {
	margin-top: 7%;
	margin-left: 20%;
	height: 300px;
	width: auto;
	border-radius: 12px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	box-sizing: border-box;
}

@media only screen and (max-width: 1200px){
    #educ:hover ~ #education_text,
	#design:hover ~ #design_text,
	#code:hover ~ #code_text,
	#passions:hover ~ #passions_text,
	#collab:hover ~ #collab_text,
	#off_the_clock:hover ~#off_the_clock_text {
    	margin-top: -50%;
    }
}

@media only screen and (max-width: 1000px){

	#about_portrait {
		height: 250px;
		display: block;
		margin: 10px auto;
	}

	#about_categories {
		width: 100%;
		display: block;
		margin-left: 7%;
		margin-top: -200px;
	}

	#about_categories div:hover {
		margin-top: 100px;
		margin-right: 20px;
	}

	#educ, 
	#design,
	#code,
	#passions,
	#collab,
	#off_the_clock,
	#educ:hover ~ #education_text,
	#design:hover ~ #design_text,
	#code:hover ~ #code_text,
	#passions:hover ~ #passions_text,
	#collab:hover ~ #collab_text,
	#off_the_clock:hover ~#off_the_clock_text {
		display: none;
	}

	#educ1, 
	#design1,
	#code1,
	#passions1,
	#collab1,
	#off_the_clock1 {
		display: block;
		float: left;
		cursor: default;
		font-size: 20px;
		margin-right: 20px;
		margin-top: 230px;
		text-align: left;
		text-decoration: none;
		transform: none; 
	}

	#educ1:hover, 
	#design1:hover,
	#code1:hover,
	#passions1:hover,
	#collab1:hover,
	#off_the_clock1:hover {
		text-align: left;
		margin-right: 20px;
		border-bottom: solid;
		transform: none;
		transition: none;
	}

	#educ1:active ~ #education_text,
	#design1:active ~ #design_text,
	#code1:active ~ #code_text,
	#passions1:active ~ #passions_text,
	#collab1:active ~ #collab_text,
	#off_the_clock1:active ~ #off_the_clock_text,
	#educ1:hover ~ #education_text,
	#design1:hover ~ #design_text,
	#code1:hover ~ #code_text,
	#passions1:hover ~ #passions_text,
	#collab1:hover ~ #collab_text,
	#off_the_clock1:hover ~ #off_the_clock_text {
    	display: block;
    	padding-top: 32%;
    	padding-left: 15%;
    	width: 60%;
    }
}
